<div style="min-height:100%" class="col-md-12">
	<h1>Hidden Product Viewer</h1>
	<form ng-submit="getHiddenProduct()">
	  <p class="input-group">
	    <input ng-model="sceneUrl" type="text" class="form-control" placeholder="Imvu scene url here..">
	    <span class="input-group-btn">
	      <button type="submit" class="btn btn-primary">Check</button>
	    </span>
	  </p>
	</form>
	<div style="min-height:100%;" class="container-fluid hpv-results" cg-busy="promise">
		<div class="success col-md-12" ng-hide="!results" ng-repeat="(key, value) in results"> <!-- ng-hide="!results" -->
			<h1>Products worn by {{key}}</h1>
				<div style="max-height:110px" class="col-md-4" ng-repeat="p in value">
					<img class="pull-left thumbnail" width="110px" height="90px" ng-src="{{p.products_image}}">
					<div class="pull-left results-details">
						<h1> {{p.products_name}} </h1>
						<span>
							<a ng-href="http://www.imvu.com/shop/product.php?products_id={{p.products_id}}" target="_blank" class="btn btn-danger">to product page</a>
						</span>
					</div>
				</div>
		</div>
		<div class="failed" ng-hide="!faults" style="min-height:100%">
			<p class="code"> error code <h1>{{faults.faultCode}}</h1></p>
		</div>
	</div>
</div>