<!-- [SIDEBAR] -->
<div class="sidebar pull-right">
  <div class="sidebar-header">Navigation</div>
  <ul class="primary-menu">
    <li><a ui-sref="main">Home</a></li>
    <li>
      <a ui-sref="tools">Tools</a>
      <ul class="has-submenu">
        <li><a ui-sref="tools.basic">Basic Information</li>
        <li><a ui-sref="tools.prodin">Product Information</a></li>
<!--        <li><a ui-sref="tools.hpv">Hidden Product Viewer</a></li> -->
      </ul>
    </li>
  </ul>
</div>
<!-- [/SIDEBAR] -->
